.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--login {
  margin-top: $s-size;
  width: 90%;
}

.button--link {
  background: none;

}

.button--modal-primary {
  margin: 0 1rem; 
  background: rgb(252, 54, 54);
}

.button--modal-secondary {
  margin: 0 1rem; 
}

.button--secondary{
  background: #888;
}